{{- $networkName := .HyperdriveResources.EthNetworkName -}}
chain = "{{.Hyperdrive.Pbs.LocalPbsClientConfig.CommitBoostPbsConfig.GetChainName $networkName}}"

[pbs]
docker_image = "{{.Hyperdrive.Pbs.LocalPbsClientConfig.GetContainerTag}}"
host = "0.0.0.0"
port = 18550
relay_check = true
wait_all_registrations = true

{{- range $relay := .Hyperdrive.Pbs.LocalPbsClientConfig.GetEnabledPbsRelays $networkName}}

[[relays]]
id = "{{$relay.ID}}"
url = "{{index $relay.Urls $networkName}}"
{{- end -}}
{{- $customRelays := Split .Hyperdrive.Pbs.LocalPbsClientConfig.CustomRelays.Value "," -}}
{{- range $customRelay := $customRelays}}

[[relays]] 
url = "{{$customRelay}}"
{{- end -}}